<nav class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Bexley</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#sec">Home</a>
        </li>
        <li>
          <a href="#sec">Services</a>
        </li>
        <li>
          <a href="#sec">About</a>
        </li>
        <li>
          <a href="#sec">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</nav>

<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Pay for it
            <p class="lead">Pay for Bexley services</p>
          </h1>
        </div>
  </div><!--/container-->
</div><!--/masthead-->

<!--main-->
<div class="container">
  <div class="row">
      <!--left-->
      <div class="col-md-3" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#sec0">Council</a></li>
          <li><a href="#sec1">Business</a></li>
          <li><a href="#sec2">Environment</a></li>
          <li><a href="#sec3">Living</a></li>
        </ul>
      </div><!--/left-->
      
      <!--right-->
      <div class="col-md-9">
        <h2 id="sec0">Council Tax</h2>
        <p>Pay for your council tax either with a one off payment or with a recurring direct debit</p>

        <button type="button" class="btn btn-primary">Recurring direct debit</button>
        <button type="button" class="btn btn-primary">One off payment</button>
        <hr>
        
        
        <h2 id="sec0">Council Invoice</h2>
        <p>Pay a council invoice you have recieved</p>
        
        <a href="https://www.google.co.uk" button type="button" class="btn btn-primary">One off payment</a>
        <hr>
        
        <h2 id="sec0">Mortgage</h2>
        <p>Make a mortgage payment</p>
        
        <button type="button" class="btn btn-primary">One off payment</button>
        <hr>
        
        <h2 id="sec0">Other invoices</h2>
        <p>Pay an invoice you have recieved</p>
        
        <button type="button" class="btn btn-primary">One off payment</button>
        <hr>
        
        <h2 id="sec0">Temporary accomodation</h2>
        <p>Pay for temporary accomodation</p>
        
        <button type="button" class="btn btn-primary">One off payment</button>
        <hr>
        

        <h4><a href="http://www.bootply.com/Gygh9swISB">Contact us</a></h4>
        <hr>
        
        <h4><a href="http://www.bootply.com/Gygh9swISB">Give feedback on this page</a></h4>
        <hr>

        </div><!--/right-->
    </div><!--/row-->
</div><!--/container-->


</div>


            <div id="push"></div>
        